/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

body::before{
content: "";
display: block;
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
background: linear-gradient(rgba(20, 20, 20, 0.05) 75%, rgba(0, 0, 0, 0.15) 33%);
background-size: 100% 5px;
z-index: 9999;
pointer-events: none;
animation: scanlines-anim 1.0s linear infinite;
}
@keyframes scanlines-anim{
0% {
background-position: 0px 0px;
}
100% {
background-position: 0px 15px;
}
}

@media only screen and (orientation: portrait){
body::before{
background-size: 100% 4px;}
body {
  background-color: black;
  color: white;
  font-family: Verdana;
   cursor: url('404.png'), auto;
}